In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Markdown, display, HTML

# Fix the dying kernel problem (only a problem in some installations - you can remove it, if it works without it)
import os
os.environ['KMP_DUPLICATE_LIB_OK'] = 'True'

# Numpy tasks

For a detailed reference check out: https://numpy.org/doc/stable/reference/arrays.indexing.html.

**Task 1.** Calculate the sigmoid (logistic) function on every element of the following numpy array [0.3, 1.2, -1.4, 0.2, -0.1, 0.1, 0.8, -0.25] and print the last 5 elements. Use only vector operations.

In [2]:
# Write your code here
a = np.array([0.3, 1.2, -1.4, 0.2, -0.1, 0.1, 0.8, -0.25])
a = 1 / (1 + np.exp(-a))
print(a[-5:])

[0.549834   0.47502081 0.52497919 0.68997448 0.4378235 ]

**Task 2.** Calculate the dot product of the following two vectors:<br/>
$x = [3, 1, 4, 2, 6, 1, 4, 8]$<br/>
$y = [5, 2, 3, 12, 2, 4, 17, 11]$<br/>
a) by using element-wise mutliplication and np.sum,<br/>
b) by using np.dot,<br/>
b) by using np.matmul and transposition (x.T).

In [3]:
# Write your code here
x = np.array([3, 1, 4, 2, 6, 1, 4, 8])
y = np.array([5, 2, 3, 12, 2, 4, 17, 11])
#a)
print("Element-wise mutliplication and sum: ",sum(x * y))
#b)
print("Dot: ",np.dot(x, y))
#c)
print("Matmul: ",np.matmul(x, np.transpose(y)))

Element-wise mutliplication and sum:  225
Dot:  225
Matmul:  225

**Task 3.** Calculate value of the logistic model<br/>
$$y = \frac{1}{1 + e^{-x_0 \theta_0 - \ldots - x_9 \theta_9 - \theta_{10}}}$$
for<br/>
$x = [1.2, 2.3, 3.4, -0.7, 4.2, 2.7, -0.5, 1.4, -3.3, 0.2]$<br/>
$\theta = [2.7, 0.33, -2.12, -1.73, 2.9, -5.8, -0.9, 12.11, 3.43, -0.5, -1.65]$<br/>
and print the result. Use only vector operations.

In [4]:
# Write your code here
x = np.array([1.2, 2.3, 3.4, -0.7, 4.2, 2.7, -0.5, 1.4, -3.3, 0.2])
theta = np.array([2.7, 0.33, -2.12, -1.73, 2.9, -5.8, -0.9, 12.11, 3.43, -0.5, -1.65])
y = 1 / (1 + np.exp(sum(-x * theta[:10]) - theta[-1:]))
print(y)

[0.24176998]

**Task 4.** Calculate value of the multivariate linear regression model<br/>
$$y = A x + B$$
for<br/>
$A = \begin{bmatrix} 1 & 2 & 1 \\ 3 & 0 & 1 \end{bmatrix}$<br/>
$B = \begin{bmatrix} 0.2 \\ 0.3 \end{bmatrix}$<br/>
$x = [1, 2, 3]^T$<br/>
and print the result. Use only vector and matrix operations.

In [5]:
# Write your code here
A = np.array([1, 2, 1, 3, 0, 1]).reshape(2, 3)
B = np.array([0.2, 0.3]).reshape(2, -1)
x = np.array([1, 2, 3])

y = np.matmul(A, np.transpose(x)) + B

print(y)

[[8.2 6.2]
 [8.3 6.3]]

# Pandas

## Load datasets

- Steam (https://www.kaggle.com/tamber/steam-video-games)

- MovieLens (https://grouplens.org/datasets/movielens/)

In [2]:
steam_df = pd.read_csv(os.path.join("data", "steam", "steam-200k.csv"), 
                       names=['user-id', 'game-title', 'behavior-name', 'value', 'zero'])

ml_ratings_df = pd.read_csv(os.path.join("data", "movielens_small", "ratings.csv"))
ml_movies_df = pd.read_csv(os.path.join("data", "movielens_small", "movies.csv"))

## Merge both MovieLens DataFrames into one

In [3]:
ml_df = pd.merge(ml_ratings_df, ml_movies_df, on='movieId')
ml_df.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5,1,4.0,847434962,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,7,1,4.5,1106635946,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,15,1,2.5,1510577970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,17,1,4.5,1305696483,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
5,18,1,3.5,1455209816,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
6,19,1,4.0,965705637,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
7,21,1,3.5,1407618878,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
8,27,1,3.0,962685262,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
9,31,1,5.0,850466616,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

## Pandas tasks - Steam dataset

**Task 5.** How many people made a purchase in the Steam dataset? Remember that a person could buy many games, but you need to count every person once.

In [5]:
# Write your code here

condition = steam_df['behavior-name'] == 'purchase'
choosen_df = steam_df.loc[condition, ['user-id', 'value']].drop_duplicates()

# display(choosen_df.head(10))

print(len(choosen_df))

12393

**Task 6.** How many people made a purchase of "The Elder Scrolls V Skyrim"?

In [9]:
# Write your code here

condition = (steam_df['behavior-name'] == 'purchase') & (steam_df['game-title'] == 'The Elder Scrolls V Skyrim')
choosen_df = steam_df.loc[condition].drop_duplicates()

print(len(choosen_df))

717

**Task 7.** How many purchases people made on average?

In [10]:
# Write your code here

condition = steam_df['behavior-name'] == 'purchase'
choosen_df = steam_df.loc[condition, ['user-id', 'value']]
choosen_df = choosen_df.groupby('user-id').sum()

# display(choosen_df.head(10))

print(choosen_df['value'].mean())

10.45033486645687

**Task 8.** Who bought the most games?

In [11]:
# Write your code here

condition = steam_df['behavior-name'] == 'purchase'
choosen_df = steam_df.loc[condition, ['user-id', 'value']]
choosen_df = choosen_df.groupby('user-id').sum()
choosen_df = choosen_df.sort_values(by='value', ascending=False)

display(choosen_df.head(1))

           value
user-id
62990992  1075.0

**Task 9.** How many hours on average people played in "The Elder Scrolls V Skyrim"?

In [12]:
# Write your code here

condition = (steam_df['behavior-name'] == 'play') & (steam_df['game-title'] == 'The Elder Scrolls V Skyrim')
choosen_df = steam_df.loc[condition, ['user-id', 'value']]
choosen_df = choosen_df.groupby('user-id').sum()

# display(choosen_df.head(10))

print(choosen_df['value'].mean())

104.71093057607091

**Task 10.** Which games were played the most (in terms of the number of hours played)? Print the first 10 titles and respective numbers of hours.

In [13]:
# Write your code here
condition = steam_df['behavior-name'] == 'play'
choosen_df = steam_df.loc[condition, ['game-title', 'value']]
choosen_df = choosen_df.groupby('game-title').sum()
choosen_df = choosen_df.sort_values(by='value', ascending=False)

display(choosen_df.head(10))

                                                value
game-title
Dota 2                                       981684.6
Counter-Strike Global Offensive              322771.6
Team Fortress 2                              173673.3
Counter-Strike                               134261.1
Sid Meier's Civilization V                    99821.3
Counter-Strike Source                         96075.5
The Elder Scrolls V Skyrim                    70889.3
Garry's Mod                                   49725.3
Call of Duty Modern Warfare 2 - Multiplayer   42009.9
Left 4 Dead 2                                 33596.7

**Task 11.** Which games are the most consistently played (in terms of the average number of hours played)? Print the first 10 titles and respective numbers of hours.

In [14]:
# Write your code here

condition = steam_df['behavior-name'] == 'play'
choosen_df = steam_df.loc[condition, ['game-title','value']]
choosen_df = choosen_df.groupby('game-title').agg({'value':'mean'})
choosen_df = choosen_df.sort_values(by='value', ascending=False)

display(choosen_df.head(10))

                                         value
game-title
Eastside Hockey Manager            1295.000000
Baldur's Gate II Enhanced Edition   475.255556
FIFA Manager 09                     411.000000
Perpetuum                           400.975000
Football Manager 2014               391.984615
Football Manager 2012               390.453165
Football Manager 2010               375.048571
Football Manager 2011               365.703226
Freaking Meatbags                   331.000000
Out of the Park Baseball 16         330.400000

**Task 12\*\*.** Fix the above for the fact that 0 hours played is not listed, but only a purchase is recorded in such a case.

In [32]:
# Write your code here
con_play = steam_df['behavior-name'] == 'play'
played_df = steam_df.loc[con_play, ['game-title','value']]
played_df = played_df.groupby('game-title').agg({'value':'sum'})

# display(played_df.head(10))

con_purchase = steam_df['behavior-name'] == 'purchase'
purchased_df = steam_df.loc[con_purchase, ['game-title', 'value']]
purchased_df = purchased_df.groupby('game-title').agg({'value' : 'sum'})
# purchased_df = purchased_df.sort_values(by='value', ascending=False)

# display(purchased_df.head(10))

final_df = played_df.copy()
final_df['num_purchased'] = purchased_df['value']
final_df['avg_hours'] = final_df['value'] / final_df['num_purchased']
final_df = final_df.sort_values(by='avg_hours', ascending=False)

display(final_df.head(10))

                               value  num_purchased    avg_hours
game-title
Eastside Hockey Manager       1295.0            1.0  1295.000000
FIFA Manager 09                411.0            1.0   411.000000
Perpetuum                     1603.9            4.0   400.975000
Football Manager 2012        30845.8           80.0   385.572500
Football Manager 2014        30574.8           80.0   382.185000
Football Manager 2010        13126.7           38.0   345.439474
Football Manager 2011        11336.8           34.0   333.435294
Out of the Park Baseball 16    660.8            2.0   330.400000
Football Manager 2013        32308.6          104.0   310.659615
Football Manager 2015        24283.1           79.0   307.381013

**Task 13.** Apply the sigmoid function
$$f(x) = \frac{1}{1 + e^{-\frac{1}{100}x}}$$
to hours played and print the first 10 rows from the entire Steam dataset after this change.

In [42]:
def sigmoid(x):
    return 1 / (1 + np.exp( - x / 100))

condition = steam_df['behavior-name'] == 'play'
steam_df_copy = steam_df.loc[condition].copy()
steam_df_copy['value'] = steam_df_copy['value'].apply(sigmoid)

display(steam_df_copy.head(100))
# zle wyswietlam

       user-id                  game-title behavior-name     value  zero
1    151603712  The Elder Scrolls V Skyrim          play  0.938774     0
3    151603712                   Fallout 4          play  0.704746     0
5    151603712                       Spore          play  0.537181     0
7    151603712           Fallout New Vegas          play  0.530213     0
9    151603712               Left 4 Dead 2          play  0.522235     0
..         ...                         ...           ...       ...   ...
226   53875128                      Monaco          play  0.518991     0
228   53875128           Fallout New Vegas          play  0.518741     0
230   53875128                  Overgrowth          play  0.518242     0
232   53875128        Assassin's Creed III          play  0.517992     0
234   53875128    Ori and the Blind Forest          play  0.517493     0

[100 rows x 5 columns]

## Pandas tasks - MovieLens dataset

**Task 14\*.** Calculate popularity (by the number of users who watched a movie) of all genres. Print a DataFrame with two columns: genre, n_users, where n_users contains the number of users who watched a given genre. Sort all genres in descending order.

In [29]:
# Write your code here
genres_df = ml_df.loc[:, ['rating', 'genres']]
genres_df['genres'] = genres_df['genres'].str.split("|")
genres_df = genres_df.explode('genres', ignore_index=True)
genres_df = genres_df.groupby('genres').agg({'rating' : 'count'}).sort_values(by='rating', ascending=False)
genres_df = genres_df.rename({'rating' : 'n_users'}, axis=1)
display(genres_df.head(10))

           n_users
genres
Drama        41928
Comedy       39053
Action       30635
Thriller     26452
Adventure    24161
Romance      18124
Sci-Fi       17243
Crime        16681
Fantasy      11834
Children      9208

**Task 15\*.** Calculate average rating for all genres. Print a DataFrame with two columns: genre, rating, where rating contains the average rating for a given genre. Sort all genres in descending order.

In [30]:
# Write your code here
genres_df = ml_df.loc[:, ['rating', 'genres']]
genres_df['genres'] = genres_df['genres'].str.split("|")
genres_df = genres_df.explode('genres', ignore_index=True)
genres_df = genres_df.groupby('genres').agg({'rating' : 'mean'}).sort_values(by='rating', ascending=False)
display(genres_df.head(10))

               rating
genres
Film-Noir    3.920115
War          3.808294
Documentary  3.797785
Crime        3.658294
Drama        3.656184
Mystery      3.632460
Animation    3.629937
IMAX         3.618335
Western      3.583938
Musical      3.563678

**Task 16.** Calculate each movie rating bias (deviation from the mean of all movies average rating). Print first 10 in the form: title, average rating, bias.

In [119]:
# Write your code here

# Data Frame postaci ['title', 'average rating']
avg_ratings = ml_df[['title', 'rating']]
avg_ratings = avg_ratings.groupby('title').agg({'rating':'mean'})
avg_ratings.rename({"rating" : "average rating"}, axis = 1, inplace = True)

ratings = avg_ratings.copy()
mean = ratings['average rating'].mean()
print(mean)

ratings['bias'] = np.absolute(mean - ratings['average rating'])
display(ratings.head(10))

3.2623883953257353

                                         average rating      bias
title
'71 (2014)                                     4.000000  0.737612
'Hellboy': The Seeds of Creation (2004)        4.000000  0.737612
'Round Midnight (1986)                         3.500000  0.237612
'Salem's Lot (2004)                            5.000000  1.737612
'Til There Was You (1997)                      4.000000  0.737612
'Tis the Season for Love (2015)                1.500000  1.762388
'burbs, The (1989)                             3.176471  0.085918
'night Mother (1986)                           3.000000  0.262388
(500) Days of Summer (2009)                    3.666667  0.404278
*batteries not included (1987)                 3.285714  0.023326

**Task 17.** Calculate each user rating bias (deviation from the mean of all users average rating). Print first 10 in the form: user_id, average rating, bias.

In [31]:
# Write your code her

# Data Frame postaci ['userId', 'average rating']
avg_ratings = ml_df[['userId', 'rating']]
avg_ratings = avg_ratings.groupby('userId').agg({'rating':'mean'})
avg_ratings.rename({"rating" : "average rating"}, axis = 1, inplace = True)

ratings = avg_ratings.copy()
mean = ratings['average rating'].mean()
print(mean)

ratings['bias'] = np.absolute(mean - ratings['average rating'])
ratings.index.name = 'user_id'
display(ratings.head(10))

3.6572223377474

         average rating      bias
user_id
1              4.366379  0.709157
2              3.948276  0.291054
3              2.435897  1.221325
4              3.555556  0.101667
5              3.636364  0.020859
6              3.493631  0.163592
7              3.230263  0.426959
8              3.574468  0.082754
9              3.260870  0.396353
10             3.278571  0.378651

**Task 18.** Randomly choose 10 movies and 10 users and print their interaction matrix in the form of a DataFrame with user_id as index and movie titles as columns. You can iterate over the DataFrame in this task.

In [89]:
# Write your code here
rand_movies = ml_df.loc[:, 'title'].sample(10)
rand_movies = rand_movies.reset_index(drop=True)

rand_users = ml_df.loc[:, 'userId'].sample(10)
rand_users = rand_users.reset_index(drop=True)

frame = { 'user_id': rand_users, 'title': rand_movies }
result = pd.DataFrame(frame)
display(result)

for index, row in result.iterrows():
    cond = ((ml_df['userId'] == row['user_id']) & (ml_df['title'] == row['title'])).any()
    if cond:
        result.at[index, 'watched'] = int(1)
        print(1)
    else:
        result.at[index, 'watched'] = int(0)
        print(0)
        
result['watched'] = result['watched'].astype(int)
display(result)

result.pivot_table(values='watched', index='user_id', columns='title', aggfunc=len, fill_value=0)

   user_id                                          title
0      606                     About Last Night... (1986)
1      480                               Bewitched (2005)
2      318                     Breakfast Club, The (1985)
3      608       Anchorman 2: The Legend Continues (2013)
4      373                              Mamma Mia! (2008)
5       51                           Kangaroo Jack (2003)
6      169                       Midnight in Paris (2011)
7      483                Honey, I Blew Up the Kid (1992)
8      606                       Dennis the Menace (1993)
9      475  Star Trek VI: The Undiscovered Country (1991)

0
1
1
0
0
0
0
1
0
0

   user_id                                          title  watched
0      606                     About Last Night... (1986)        0
1      480                               Bewitched (2005)        1
2      318                     Breakfast Club, The (1985)        1
3      608       Anchorman 2: The Legend Continues (2013)        0
4      373                              Mamma Mia! (2008)        0
5       51                           Kangaroo Jack (2003)        0
6      169                       Midnight in Paris (2011)        0
7      483                Honey, I Blew Up the Kid (1992)        1
8      606                       Dennis the Menace (1993)        0
9      475  Star Trek VI: The Undiscovered Country (1991)        0

title,About Last Night... (1986),Anchorman 2: The Legend Continues (2013),Bewitched (2005),"Breakfast Club, The (1985)",Dennis the Menace (1993),"Honey, I Blew Up the Kid (1992)",Kangaroo Jack (2003),Mamma Mia! (2008),Midnight in Paris (2011),Star Trek VI: The Undiscovered Country (1991)
user_id,,,,,,,,,,
51,0,0,0,0,0,0,1,0,0,0
169,0,0,0,0,0,0,0,0,1,0
318,0,0,0,1,0,0,0,0,0,0
373,0,0,0,0,0,0,0,1,0,0
475,0,0,0,0,0,0,0,0,0,1
480,0,0,1,0,0,0,0,0,0,0
483,0,0,0,0,0,1,0,0,0,0
606,1,0,0,0,1,0,0,0,0,0
608,0,1,0,0,0,0,0,0,0,0

## Pandas + numpy tasks

**Task 19.** Create the entire interaction matrix for the MovieLens dataset. Print the submatrix of first 10 rows and 10 columns.

In [121]:
# Write your code here

**Task 20.** Calculate the matrix of size (n_users, n_users) where at position (i, j) there is the number of movies watched both by user i and user j. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here

**Task 21.** Calculate the matrix of size (n_items, n_items) where at position (i, j) there is the number of users who watched both movie i and movie j. To prevent hanging your computer because of RAM shortage use only the first 1000 items. Print the submatrix of first 10 rows and 10 columns.

In [ ]:
# Write your code here